---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import yoImg from "../assets/yo.png";
import IconYoutube from "../components/icons/IconYoutube.astro";
import BestPanel1 from "../components/main/BestPanel1.astro";
import BestPanel2 from "../components/main/BestPanel2.astro";
import BestPanel3 from "@/components/main/BestPanel3.astro";
import { Icon3 } from "@/components/icons/nxn";
import Sparks from "@/components/Sparks.astro";
---

<Layout>
  <div class="flex flex-col justify-center w-full">
    <div
      class="flex flex-col lg:flex-row justify-center gap-12 lg:gap-10 xl:gap-20 2xl:gap-32 w-full"
    >
      <div class="flex flex-col items-center">
        <div
          class="h-100 w-100 sm:h-140 sm:w-140 lg:w-120 lg:h-120 xl:w-140 xl:h-140 mt-4 lg:mt-30 xl:mt-20 animate-float relative flex justify-center"
        >
          <Image
            src={yoImg}
            alt="Imagen mía"
            format="png"
            class="rounded-[140px] relative z-10"
          />
          <div
            class="absolute top-0 h-80 w-80 sm:h-100 sm:w-100 mt-26 sm:mt-50 lg:mt-30 xl:mt-50 rounded-[280px] bg-radial from-primary-200 to-transparent opacity-50 blur-2xl"
          >
          </div>
          <Sparks />
        </div>

        <a
          href="https://www.youtube.com/@crkuber5322"
          target="_blank"
          class="flex justify-center items-center mt-2 gap-4"
        >
          <IconYoutube size={30} lightColor="var(--color-primary-400)" />
          <p class="italic text-primary-400 font-thin text-2xl">@crkuber5322</p>
        </a>
        <div class="flex gap-2 items-center animate-pulse">
          <p class="text-primary-600 text-xl italic">Main: 8.23s</p>
          <Icon3 size={20} lightColor="var(--color-primary-600)" />
        </div>
      </div>
      <div class="flex justify-center">
        <BestPanel1 />
      </div>
    </div>

    <div
      class="flex flex-col lg:flex-row justify-center items-center py-10 lg:py-20 gap-10 lg:gap-25 xl:gap-15 2xl:gap-25"
    >
      <BestPanel2 />
      <BestPanel3 />
    </div>
  </div>
</Layout>
