---
import IconX from "./icons/IconX.astro";
import IconYoutube from "./icons/IconYoutube.astro";
---

<footer
  class="flex justify-between items-center py-8 px-32 bg-primary-950/25 border-t-1 border-primary-300/50"
>
  <p>© 2025 Yair Acuña.</p>
  <div class="flex gap-6">
    <IconYoutube
      size={30}
      lightColor="white"
      href="https://www.youtube.com/@crkuber5322"
    />
    <IconX size={30} lightColor="white" href="https://x.com/KuberCr" />
  </div>
</footer>
