---

---

<div class="absolute z-20 bottom-0 left-0 w-full h-full pointer-events-none">
  <span
    class="spark absolute bottom-0 left-[10%] w-1 h-1 bg-yellow-400 rounded-full"
  ></span>
  <span
    class="spark absolute bottom-0 left-[20%] w-1 h-1 bg-yellow-200 rounded-full"
  ></span>
  <span
    class="spark absolute bottom-0 left-[30%] w-1 h-1 bg-orange-400 rounded-full"
  ></span>
  <span
    class="spark absolute bottom-0 left-[40%] w-1 h-1 bg-yellow-400 rounded-full"
  ></span>
  <span
    class="spark absolute bottom-0 left-[50%] w-1 h-1 bg-yellow-200 rounded-full"
  ></span>
  <span
    class="spark absolute bottom-0 left-[60%] w-1 h-1 bg-orange-400 rounded-full"
  ></span>
  <span
    class="spark absolute bottom-0 left-[70%] w-1 h-1 bg-yellow-400 rounded-full"
  ></span>
  <span
    class="spark absolute bottom-0 left-[80%] w-1 h-1 bg-yellow-200 rounded-full"
  ></span>
  <span
    class="spark absolute bottom-0 left-[90%] w-1 h-1 bg-orange-400 rounded-full"
  ></span>
</div>
