---
import type { Time } from "../../types/time";
import IconYoutube from "../icons/IconYoutube.astro";

interface Props extends Time {
  Icon?: any;
}

const { time, date, youtube, wca, Icon } = Astro.props as Props;
---

<div
  class="px-14 py-6 flex flex-col items-center bg-gradient-to-tr from-primary-200/30 to-cyan-800 rounded-2xl relative duration-300 hover:shadow-primary-600 shadow-xl hover:rotate-3"
>
  {
    Icon && (
      <div class="mb-2">
        <Icon size={90} lightColor="white" />
      </div>
    )
  }

  <p class="text-xl">Single</p>
  <p class="text-2xl sm:text-6xl lg:text-4xl xl:text-6xl font-bold">{time}</p>
  <p class="mb-6 sm:mb-0 lg:mb-4 xl:mb-0">{date}</p>

  <div class="absolute bottom-3 right-5">
    <IconYoutube size={30} lightColor="white" href={youtube} target="_blank" />
  </div>
</div>
